# Prerequisites
*.d

# Compiled Object files
*.slo+
*.lo
*.o
*.obj
*.vcxproj
*.vcxproj.*
*.slnx
CodeChunks.db
CodeChunks.db-shm
CodeChunks.db-wal
SemanticSymbols.db
SemanticSymbols.db-shm
SemanticSymbols.db-wal






# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
